body{
    background: rgb(34, 34, 34);
    font-family: 'Poppins', sans-serif;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-direction: column;
    line-height: 10px;
}
.logo h1{
    font-weight: 200;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(123, 14, 201);
    transition: 0.3s all;
}
.button-sign{
    border: 2px solid rgb(123, 14, 201);
    padding: 15px;
    border-radius: 20px;
}
.button-sign:hover{
    background-color: rgb(123, 14, 201);
    color: white;
    transition: 0.3s all;
}
li{
    display: inline-block;
    margin: 20px;
    
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
main .aside{
    width: 50%;
    height: 50%;
    margin-top: 20px;
}
main h2{
    font-size: 55px;
    line-height: 20px;
}
span{
    color: rgb(123, 14, 201);
}
main p{
    line-height: 20px;
    max-width: 500px;
}
article img{
    width: 571px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
#submit{
    height: 50px;
    width: 50%;
    background-color: rgb(123, 14, 201);
    color: white;
    font-weight: bold;
}
#submit:hover{
    cursor: pointer;
}